.boardContainer {
    width: min(95vw, 60vh);
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;
    font-size: 10px;
}

.board {
    width: 100% -4px;
    display: grid;
    aspect-ratio: 1/1;
    border: 2px solid var(--col5);
}

.square {
    width: 100% -1px;
    aspect-ratio: 1/1;
    border: 1px solid var(--col5);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.filled {
    background-color: var(--col5);
    width: 100%;
    height: 100%
}

.empty {
    background-color: var(--col1);
    width: 100%;
    height: 100%
}

.crossed {
    background-color: var(--col2);
    width: 100%;
    height: 100%
}

.mistake {
    background-color: red;
    width: 100%;
    height: 100%
}