:root {
    box-sizing: border-box;

    --col1: #e8f6ff;
    --col2: #caebff;
    --col3: #fcd1f5;
    --col4: #2D4654;
    --col5: #243B4A;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: hidden;
    color:var(--col5);
    background-color: var(--col1);
    text-shadow: 0px 0px 0.5px var(--col5);
}

a {
    color: var(--col1);
    text-decoration: none;
}

#root {
    height: 100%;
    width: 100%;
}