root {
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.boardContainer {
    width: clamp(300px, 60vh, 600px);
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 3rem 1fr;
}

.sideBoard {
    width:100%;
    height:100%;
    display: flex;
}

.sideBoard.vBars {
    flex-direction: row;
    width: 100%;
}

.sideBoard.hBars {
    flex-direction: column;
    height: 100%;
}

.sideSquare {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.vBars>.sideSquare {
    writing-mode: vertical-rl;
    text-orientation: upright;

}


.board {
    display: grid;
    aspect-ratio: 1/1;
    
}

.gameDataDisplay {
    display: flex;
    margin: 10px;
    align-items: end;
    width: clamp(300px, 50vh, 600px);
    justify-content: space-between;
}

.square {
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.filled {
    background-color: blue;
    width: 100%;
    height: 100%
}

.empty {
    background-color: white;
    width: 100%;
    height: 100%
}

.crossed {
    background-color: pink;
    width: 100%;
    height: 100%
}

.mistake {
    background-color: red;
    width: 100%;
    height: 100%
}

.bottomContainer {
    margin: 50px;
    width:clamp(300px, 50vh, 600px);

    display:flex;
    justify-content: center;
}

.controlsContainer {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.control {
    padding: 20px 20px;
}

.active {
    background-color: aqua;
}


